*.project
*.tern-project
*.classpath
/.settings
source/.settings
*/.settings
/.settings/*
/.settings/
.settings/*
*.settings
*build
source/SearchPortal-Web/target/*
source/SearchPortal-BuildProject/target/*
source/SearchPortal-Core/target/*
source/SearchPortal-Core/.settings/*
source/SearchPortal-Web/.settings/*
source/SearchPortal-BuildProject/.settings/*
old/*
source/SearchPortal-Core/src/main/java/com/netcracker/unc/mvc/connection/*
[merge]
        tool = kdiff3
[mergetool "kdiff3"]
        path = c:/Program Files/KDiff3/kdiff3.exe
[diff]
        tool = kdiff3
        guitool = kdiff3
[difftool "kdiff3"]
        path = c:/Program Files/KDiff3/kdiff3.exe