@CHARSET "UTF-8";

/* Background Colors  */
progress {
	background: #000066;
	border-radius: 17px;
	border-color: black;
	height: 20px;
	width: 200px;
}

/* Chrome */
progress.inoutProgress::-webkit-progress-bar {
	background: red;
	border-radius: 17px;
	background: -webkit-linear-gradient(Maroon, red 50%);
	box-shadow: 0 0 2px black;
}

/* Chrome */
progress.inoutProgress::-webkit-progress-value {
	background: -webkit-linear-gradient(#1A4A20, #28A65A 50%, #4c4);
	border-radius: 17px;
	box-shadow: 0 0 2px black;
}

.percent {
	position: absolute;
	left: 85px;
	top: 3px;
}
