@CHARSET "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    /*background-color: #f7fade;*/
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    position: static;
}

#logo{
    width: 214px;
    height: 59px;
    background-color: #f7fade;
    display: inline;
}

#logo a{
    
}
.header{
    height: 300px;
    width: 100%;
    background-color: #92d36e;
}

input[type="submit"]{
    background-color: #fef8a0;
    height: 50px;
    width: 200px;
    font-size: 30px;
    border-radius: 10px;
}

.button{
    background-color: #fef8a0;
    height: 50px;
    width: 200px;
    font-size: 30px;
    border-radius: 10px;
}

input[type="text"]{
    background-color: #f7fade;
    font-size: 30px;
    height: 50px;
    width: 300px;
}

.block-title{
    background-color: #92d36e;
    height: 70px;
    width: 1000px;
    text-align: center;
    border-radius: 20px 20px 0 0;
    padding: 15px 0 15px 0;
    box-shadow: 
        inset 0 3px 0 rgba(255, 255, 255, 0.4);
}
.block-information{
    height: 300px;
    max-height:1700px;/*разобраться*/
    border: 4px solid #000;/*нужно компенсировать толщину*2 в width модуля */
    padding: 40px;/*тоже компенсируем*/
    border-color: #92d36e;
    border-radius: 0 0 20px 20px;
    text-align: center;

    box-shadow: inset 0 7px 20px rgba(0, 0, 0, 0.2);/*тень от шапки модуля*/
}
.module{
    display: none;
    width: 1000px;
    min-height:200px;
    max-height:2000px;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 300px;
    border-radius: 20px;
    box-shadow: //the shadow at the bottom of the block
        0 10px 20px rgba(0, 0, 0, 0.25);
}
