@CHARSET "UTF-8";

#helloCase {
	width: 250px;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	border: 1px #004949 groove; /* рамка */
	height: 90px;
	position: fixed;
	top: 25%;
	background-color: #fef8a0;
	right: -250px;
}

/* Background Colors  */
progress {
	background: #000066;
	border-radius: 17px;
	border-color: black;
	height: 20px;
	width: 200px;
}

/* Chrome */
progress.inoutProgress::-webkit-progress-bar {
	background: red;
	border-radius: 17px;
	background: -webkit-linear-gradient(Maroon, red 50%);
	box-shadow: 0 0 2px black;
}

/* Chrome */
progress.inoutProgress::-webkit-progress-value {
	background: -webkit-linear-gradient(#1A4A20, #28A65A 50%, #4c4);
	border-radius: 17px;
	box-shadow: 0 0 2px black;
}

.percent {
	position: absolute;
	left: 85px;
	top: 3px;
}