<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>controller-priorities</servlet-name>
    <servlet-class>com.netcracker.unc.modules.servlets.controllerPriorities</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>category-servlet</servlet-name>
    <servlet-class>com.netcracker.unc.modules.servlets.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>custom</servlet-name>
    <servlet-class>com.netcracker.unc.user.custom.servlets.CustomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>authorization</servlet-name>
    <servlet-class>com.netcracker.unc.user.authorization.servlets.AuthorizationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>control</servlet-name>
    <servlet-class>com.netcracker.unc.user.custom.servlets.ControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authorization</servlet-name>
    <url-pattern>/authorization</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>control</servlet-name>
    <url-pattern>/control</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>custom</servlet-name>
    <url-pattern>/custom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>controller-priorities</servlet-name>
    <url-pattern>/controllerPriorities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>category-servlet</servlet-name>
    <url-pattern>/categoryservlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>